{% extends "skeleton.html" %}
{% block content %}  
<div class="container">

    <div class="row">

      <div class="col-md-8">

        <h1 class="my-4">Systeme de Contrevenants Montreal</h1>

      </div>

      <div class="col-md-4">

        
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
           
            <div class="input-group">
			<form action="/search" method="get">
				 <label for="select">Choisissez un option:</label>

          <select id="select" name="select">
          <option value="etablissement">Nom d'etablissement</option>
          <option value="adresse">Rue</option>
          <option value="proprietaire">Proprietaire</option>
          </select> 
          <br>
          <br>
              <input type="text" class="form-control" placeholder="Search for..." name="search">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="submit" >Go!</button>
              </span>
			</form>
            </div>
          </div>

        </div>


      </div>

    </div>

  </div>



{% endblock %}  